.navbar {
  margin-top: 0;
  margin-left: 0;
  width: calc(100%-4rem);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #83c0c1;
  background-color: #6c22a6;
  font-size: 1.5rem;
  box-shadow: 5px 5px 2px;
}

.navbarLeft {
  justify-self: flex-start;
  margin-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarRight {
  justify-self: flex-end;
  margin-right: 3rem;
}

.navbarLinks {
  list-style: none;
  display: flex;
  gap: 2rem;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #83c0c1;
}

.navbarLinks a:hover {
  color: #ffba86;
}

.navbarRightMobile {
  display: none;
  justify-self: flex-end;
  margin-right: 3rem;
}

.navbarMobileMenu {
  display: none;
  position: absolute;
  border-radius: 0.25rem;
  background-color: #83c0c1;
  outline: solid #6c22a6 2px;
  box-shadow: 5px 5px 3px #6c22ac58;
  margin-left: -2rem;
  padding: 0.5rem;
}

.navbarMobileMenu a:link, 
.navbarMobileMenu a:visited, 
.navbarMobileMenu a:active {
  color: #6c22a6;
}

.navbarMobileMenu li:hover,
.navbarMobileMenu a:hover {
  background-color: hotpink;
}

/* Responsive Adjustments - Screens under 600px */
@media (max-width: 600px) {
  .navbarRightDesktop {
    display: none;
  }

  .navbarRightMobile {
    display: flex;
  }

  .navbarDropdownBox:hover .navbarMobileMenu {
    display: flex;
    flex-direction: column;
  }
}
